<div class="loader-container" ng-class="customClass">
  <div class="preloader-wrapper active" ng-style="ngStyle">
    <div class="spinner-layer" ng-class="'spinner-'+color+'-only'">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>