<!-- nota: mwi = message-with-icon -->
<div class="col s12 mwi-container" 
     ng-style="containerStyle">
  <div class="col s12 center">
    <i class="mwi-icon" 
       ng-class="iconClass"
       style="{{iconStyle}}">
      {{iconText}}
    </i>
  </div>
  <div class="col s12 mwi-title" 
       ng-style="titleStyle">
    {{title}}
  </div>
  <div class="col s12 mwi-message" 
       ng-style="messageStyle">
    {{message}}
  </div>
</div>