<nav>

  <!-- topbar on large screen -->
  <div class="container">
    <div class="nav-wrapper">

      <ul class="left">
        <li class="option">
          <a ng-href="/#!/ventas">
            <span>VENTAS</span>
          </a>
        </li>
        <li class="option">
          <a ng-href="/#!/clientes">
            <span>CLIENTES</span>
          </a>
        </li>
        <li class="option">
          <a ng-href="/#!/articulos">
            <span>ARTÍCULOS</span>
          </a>
        </li>
				<li class="option">
          <a ng-href="/#!/configuracion">
            <span>CONFIGURACION</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</nav>
