.sales-edition {
  background-color: #fdfdfd;
  margin: 0;
  padding-bottom: 20px;
	padding-top: 20px;
}

.sales-edition .label-container {
	text-align: center;
	padding-top: 16px;
}

.sales-edition .label {
	color: white;
	background-color: #4285f4;
	border-radius: 5px;
	padding: 8px;
}

.sales-edition .totals-container {
	margin-top: 20px;
}

.sales-edition .label-total {
	color: white;
	background-color: grey;
	border-radius: 5px;
	padding: 4px;
}

/* block */

.sales-edition .cc-block {
  padding: 16px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin-bottom: 20px;
}

.sales-edition .cc-block .title-container {
  padding: 8px !important;
}

.sales-edition .cc-block .title-container i {
  color: #505050;
  float: left;
}

.sales-edition .cc-block .title-container .title {
  color: #505050;
  float: left;
  padding-left: 10px;
}

/* block end */

.msg-modal {
	width: 500px;
}

.msg-modal .title {
	font-size: 20px;
	color: #353434;
}

.msg-modal .sub-title {
	padding: 0 !important;
	font-size: 16px;
	color: #585858;
}
