.sales {
  background-color: #fdfdfd;
  margin: 0;
  padding-bottom: 20px;
	padding-top: 20px;
}

.sales .label-container {
	text-align: center;
	padding-top: 16px;
}

.sales .label {
	color: white;
	background-color: #4285f4;
	border-radius: 5px;
	padding: 8px;
}

.sales .totals-container {
	margin-top: 20px;
}

.sales .label-total {
	color: white;
	background-color: grey;
	border-radius: 5px;
	padding: 4px;
}

.sales .btn-add-container {
	position: absolute;
	right: 16px;
	top: 16px;
}

/* block */

.sales .cc-block {
	position: relative;
  padding: 16px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin-bottom: 20px;
}

.sales .cc-block .title-container {
  padding: 8px !important;
}

.sales .cc-block .title-container i {
  color: #505050;
  float: left;
}

.sales .cc-block .title-container .title {
  color: #505050;
  float: left;
  padding-left: 10px;
}

/* block end */
