topbar nav {
  height: 50px !important;
  line-height: 50px !important;
  position: fixed;
  top: 0;
  color: #eee;
  background: #fff;
  z-index: 3;
}

topbar .container {
  width: 95% !important;
}

topbar nav i {
  height: 50px !important;
  line-height: 50px !important;
}

topbar ul li {
  float: left;
  height: 50px;
}

topbar ul li a  {
  height: 50px;
  line-height: 47px;
  color: #C3C3C3;
  padding: 0 15px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
  transition: color .28s ease;
}

topbar ul li:hover a {
  color: #4B4B4B;
  background: #fff;
}

topbar .left .logo-picture-frame {
  padding: 4px 15px;
  width: 155px;
}

topbar .left .logo-picture-frame .logo-picture {
  height: 16px;
}

topbar .left .option a {
  letter-spacing: 1.5px;
  font-weight: 200;
  font-size: 13px;
}

topbar .left .option i {
  padding-right: 10px;
  float: left;
  font-size: 1.2rem !important;
}
