<div class="row sales" ng-show="isContentLoaded">

	<div class="col s12 container">

		<div class="col s12 cc-block">

			<div class="col s12 title-container">
				<i class="material-icons">shopping_basket</i>
				<div class="title">Artículos registrados</div>
			</div>

			<div class="col s12 no-padding">
				<table>
					<thead>
						<tr>
							<th>Clave artículo</th>
							<th>Descripción</th>
							<th>Existencia</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="article in articles track by $index">
							<td>{{article.id}}</td>
							<td>{{article.description}}</td>
							<td>{{article.existence}}</td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

	</div>

</div>

<pre-loader ng-show="!isContentLoaded"></pre-loader>
