<div class="row sales" ng-show="isContentLoaded">

	<div class="col s12 container">

		<div class="col s12 cc-block">

			<div class="col s12 title-container">
				<i class="material-icons">settings</i>
				<div class="title">Configuraciones</div>
			</div>

			<div class="col s12 no-padding">
				<table>
					<thead>
						<tr>
							<th>Tasa financiamiento</th>
							<th>% Enganche</th>
							<th>Plazo máximo</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="configuration in configurations track by $index">
							<td>{{configuration.financingRate}}</td>
							<td>{{configuration.hitch}}</td>
							<td>{{configuration.maximumPaymentTerms}}</td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

	</div>

</div>

<pre-loader ng-show="!isContentLoaded"></pre-loader>
