<div class="row sales" ng-show="isContentLoaded">

	<div class="col s12 container">

		<div class="col s12 cc-block">

			<div class="col s12 title-container">
				<i class="material-icons">list</i>
				<div class="title">Ventas activas</div>
			</div>

			<div class="btn-add-container">
				<a class="waves-effect waves-light btn" href="/#!/ventas/crear">
					<i class="material-icons left">add</i>Nueva Venta
				</a>
			</div>

			<div class="col s12 no-padding">
				<table>
					<thead>
						<tr>
							<th>Folio venta</th>
							<th>Clave cliente</th>
							<th>Nombre</th>
							<th>Total</th>
							<th>Fecha</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="sale in sales track by $index">
							<td>{{sale.id}}</td>
							<td>{{sale.clientId}}</td>
							<td>{{sale.client.name}} {{sale.client.fatherLastName}} {{sale.client.motherLastName}} </td>
							<td>{{sale.total | currency}}</td>
							<td>{{sale.date | date:'dd/mm/yyyy'}}</td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

	</div>

</div>

<pre-loader ng-show="!isContentLoaded"></pre-loader>
