<div class="row sales-edition" ng-show="isContentLoaded">

	<div class="col s12 container">

		<div class="col s12 cc-block">

			<div class="col s12 title-container">
				<i class="material-icons">assignment</i>
				<div class="title">Registro de ventas</div>
			</div>

			<div class="col s12 no-padding">
				<div class="col s1 label-container">
					<span class="label">
						Cliente:
					</span>
				</div>
				<div class="col s7">
					<angucomplete-alt
						id="client-select"
			      placeholder="Buscar cliente"
			      pause="300"
			      selected-object="onClientChange"
			      remote-api-handler="fetchClients"
			      title-field="shownName"
			      minlength="3"
			      input-class="form-control form-control-small"
			      match-class="highlight" />
			  </div>
				<div class="col s4">
					RFC: {{selectedClient.rfc}}
				</div>
			</div>

			<div class="col s12 no-padding">
				<div class="col s1 label-container">
					<span class="label">
						Artículo:
					</span>
				</div>
				<div class="col s7">
					<angucomplete-alt
						id="article-select"
			      placeholder="Buscar artículo"
			      pause="300"
			      selected-object="onArticleChange"
			      remote-api-handler="fetchArticles"
			      title-field="description"
			      minlength="3"
			      input-class="form-control form-control-small"
			      match-class="highlight" />
			  </div>
				<div class="col s3">
					ARTICULO: {{selectedArticle.description}}
				</div>
				<div class="col s1">
					<a class="btn-floating grey" ng-click="addProductToSale()">
			      <i class="small material-icons">add</i>
			    </a>
				</div>
			</div>

			<div class="col s12">
				<table>
				  <thead>
				    <tr>
			        <th>Descripción de artículo</th>
			        <th>Modelo</th>
			        <th>Cantidad</th>
							<th>Precio</th>
							<th>Importe</th>
							<th></th>
				    </tr>
				  </thead>

				  <tbody>
				    <tr ng-repeat="article in articles track by $index">
				      <td>{{article.description}}</td>
				      <td>{{article.model}}</td>
				      <td>
								<div class="col s12 m12 l12" input-field>
					        <input id="quantity" ng-model="article.quantity" restrict="number" type="text" length="4" maxlength="4" required>
					      </div>
							</td>
							<td>{{article.shownPrice | currency}}</td>
							<td>{{article.import | currency}}</td>
							<td>
								<a class="btn-floating red" ng-click="removeArticleFromList($index)">
						      <i class="small material-icons">clear</i>
						    </a>
							</td>
				    </tr>
				  </tbody>
				</table>
			</div>

			<div class="col s12 totals-container">
				<div class="col s10 right-align">
					<span class="label-total">
						Enganche:
					</span>
				</div>
				<div class="col s2">
					{{totals.hitch | currency}}
				</div>
				<div class="col s10 right-align">
					<span class="label-total">
						Bonificacion Enganche:
					</span>
				</div>
				<div class="col s2">
						{{totals.bonification | currency}}
				</div>
				<div class="col s10 right-align">
					<span class="label-total">
						Total Adeudado:
					</span>
				</div>
				<div class="col s2">
						{{totals.totalDebt | currency}}
				</div>
			</div>

			<div class="col s12 right-align" ng-if="currentStep === 1">
				<a class="waves-effect waves-light btn green" ng-click="next()"><i class="material-icons left">payment</i>Siguiente</a>
			</div>

			<div class="col s12" ng-if="currentStep === 2">
				<table class="striped">
				  <thead>
				    <tr>
			        <th>Abonos mensuales</th>
				    </tr>
				  </thead>

				  <tbody>
				    <tr ng-repeat="abono in abonos track by $index"
								ng-show="abono.name % 3 === 0 || abono.name === configuration.maximumPaymentTerms">
				      <td>{{abono.name}} ABONOS DE</td>
				      <td>{{abono.quantity | currency}}</td>
							<td>TOTAL A PAGAR {{abono.total | currency}}</td>
							<td>SE AHORRA {{abono.save | currency}}</td>
							<td>
								<input name="group1" type="radio" id="option-{{$index}}" ng-model="selectedAbono" ng-change="selectAbono($index)" ng-value="abono.name" />
		      			<label for="option-{{$index}}"></label>
							</td>
				    </tr>
				  </tbody>
				</table>
			</div>

			<div class="col s12 right-align" ng-if="currentStep === 2">
				<a class="waves-effect waves-light btn red" ng-click="cancel()"><i class="material-icons left">clear</i>Cancelar</a>
				<a class="waves-effect waves-light btn green" ng-click="save()"><i class="material-icons left">save</i>Guarda</a>
			</div>
		</div>

</div>

<pre-loader ng-show="!isContentLoaded"></pre-loader>

<!-- Modal -->
<div id="msg-modal" class="modal msg-modal">
  <div class="modal-content row no-margin">
    <div class="title">Alerta</div>

    <div class="col s12 sub-title">
			{{modal.msg}}
    </div>

  </div>

  <div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
  </div>
</div>
