<div class="row sales" ng-show="isContentLoaded">

	<div class="col s12 container">

		<div class="col s12 cc-block">

			<div class="col s12 title-container">
				<i class="material-icons">person</i>
				<div class="title">Clientes registrados</div>
			</div>

			<div class="col s12 no-padding">
				<table>
					<thead>
						<tr>
							<th>Clave cliente</th>
							<th>Nombre</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="client in clients track by $index">
							<td>{{client.id}}</td>
							<td>{{client.name}} {{client.fatherLastName}} {{client.motherLastName}} </td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

	</div>

</div>

<pre-loader ng-show="!isContentLoaded"></pre-loader>
