<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title ng-bind="title">Vendimia</title>

  <!-- General META -->
  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Semantic META -->
  <meta name="keywords" content="{{keywords}}">
  <meta name="description" content="{{description}}">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
	<meta property="og:image" content="https://i.imgur.com/Imwha59.jpg"/>
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="https://i.imgur.com/Imwha59.jpg">

  <!-- Fav Icon -->
  <link href="/modules/core/imgs/favicon.ico" rel="shortcut icon" type="image/x-icon">


  <!-- app manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- add service worker -->
  <script defer>
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('serviceWorker.js').then(() => {
        console.log('Service worker installed')
      }, err => {
        console.error('Service worker error:', err);
      });
    }
  </script>

  <!--Application CSS Files-->
  {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">
  {% endfor %}

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <!-- HTML5 Shim -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body class="ng-cloak">
	<!-- Facebook SDK; This fix facebook social login directive -->
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId: '1104594186338207',
	      autoLogAppEvents: true,
	      xfbml: true,
	      version: 'v2.10'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>

  <section>
    {% block content %}{% endblock %}
  </section>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};

    <!-- Defined url for enviroment -->
    {% if process.env.NODE_ENV === 'development' %}
      var API_URL = 'http://0.0.0.0:5000';
    {% endif %}

    {% if process.env.NODE_ENV === 'production' %}
      var API_URL = 'https://vendimia-api.herokuapp.com';
    {% endif %}

    {% if process.env.NODE_ENV === 'test' %}
      var API_URL = 'https://vendimia-api.herokuapp.com';
    {% endif %}

  </script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}
    <script type="text/javascript" src="{{jsFile}}"></script>
  {% endfor %}

  {% if process.env.NODE_ENV === 'development' %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
  {% endif %}

  <!--[if lt IE 9]>
  <section class="browsehappy jumbotron hide">
    <h1>Hello there!</h1>
    <p>You are using an old browser which we unfortunately do not support.</p>
    <p>Please <a href="http://browsehappy.com/">click here</a> to update your browser before using the website.</p>
    <p><a href="http://browsehappy.com" class="btn btn-primary btn-lg" role="button">Yes, upgrade my browser!</a></p>
  </section>
  <![endif]-->
</body>

</html>
